html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, 
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}



.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}



.row {
    display: flex;
    flex-wrap: wrap;
    /* gap: 15px; */
    margin: 0 -15px;
}

.col {
    max-width: 100%;
    flex-grow: 1;
    padding: 0 15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    /*flex-grow flex-shrink flex-basis*/
    padding: 0 15px;
    flex: 0 0 auto;
}

.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666666%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666666%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666666%;
}

.col-12 {
    width: 100%;
}

/*====== media queries ======*/

@media all and (min-width: 576px) {
    .container {
        width: 540px;
    }

    .col-sm-1 {
        width: 8.333333%;
    }
    
    .col-sm-2 {
        width: 16.666666%;
    }
    
    .col-sm-3 {
        width: 25%;
    }
    
    .col-sm-4 {
        width: 33.333333%;
    }
    
    .col-sm-5 {
        width: 41.666666%;
    }
    
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-7 {
        width: 58.333333%;
    }
    
    .col-sm-8 {
        width: 66.666666%;
    }
    
    .col-sm-9 {
        width: 75%;
    }
    
    .col-sm-10 {
        width: 83.333333%;
    }
    
    .col-sm-11 {
        width: 91.666666%;
    }
    
    .col-sm-12 {
        width: 100%;
    }
    
}

@media all and (min-width: 768px) {
    .container {
        width: 720px;
    }

    .col-md-1 {
        width: 8.333333%;
    }
    
    .col-md-2 {
        width: 16.666666%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4 {
        width: 33.333333%;
    }
    
    .col-md-5 {
        width: 41.666666%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.333333%;
    }
    
    .col-md-8 {
        width: 66.666666%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.333333%;
    }
    
    .col-md-11 {
        width: 91.666666%;
    }
    
    .col-md-12 {
        width: 100%;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 960px;
    }

    .col-lg-1 {
        width: 8.333333%;
    }
    
    .col-lg-2 {
        width: 16.666666%;
    }
    
    .col-lg-3 {
        width: 25%;
    }
    
    .col-lg-4 {
        width: 33.333333%;
    }
    
    .col-lg-5 {
        width: 41.666666%;
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    .col-lg-7 {
        width: 58.333333%;
    }
    
    .col-lg-8 {
        width: 66.666666%;
    }
    
    .col-lg-9 {
        width: 75%;
    }
    
    .col-lg-10 {
        width: 83.333333%;
    }
    
    .col-lg-11 {
        width: 91.666666%;
    }
    
    .col-lg-12 {
        width: 100%;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .col-xl-1 {
        width: 8.333333%;
    }
    
    .col-xl-2 {
        width: 16.666666%;
    }
    
    .col-xl-3 {
        width: 25%;
    }
    
    .col-xl-4 {
        width: 33.333333%;
    }
    
    .col-xl-5 {
        width: 41.666666%;
    }
    
    .col-xl-6 {
        width: 50%;
    }
    
    .col-xl-7 {
        width: 58.333333%;
    }
    
    .col-xl-8 {
        width: 66.666666%;
    }
    
    .col-xl-9 {
        width: 75%;
    }
    
    .col-xl-10 {
        width: 83.333333%;
    }
    
    .col-xl-11 {
        width: 91.666666%;
    }
    
    .col-xl-12 {
        width: 100%;
    }
}

@media all and (min-width: 1400px) {
    .container {
        width: 1370px;
    }

    .col-xxl-1 {
        width: 8.333333%;
    }
    
    .col-xxl-2 {
        width: 16.666666%;
    }
    
    .col-xxl-3 {
        width: 25%;
    }
    
    .col-xxl-4 {
        width: 33.333333%;
    }
    
    .col-xxl-5 {
        width: 41.666666%;
    }
    
    .col-xxlg-6 {
        width: 50%;
    }
    
    .col-xxlg-7 {
        width: 58.333333%;
    }
    
    .col-xxlg-8 {
        width: 66.666666%;
    }
    
    .col-xxl-9 {
        width: 75%;
    }
    
    .col-xxl-10 {
        width: 83.333333%;
    }
    
    .col-xxl-11 {
        width: 91.666666%;
    }
    
    .col-xxl-12 {
        width: 100%;
    }
}