@media all and (max-width: 400px) {
    html {
        font-size: 50%;
    }

    .btn {
        width: 15rem;
        height: 4.7rem;
        font-size: 1.4rem;
        line-height: 4.7rem;
    }

    /* hero */
    .hero__img {
        width: 60vw;
        height: 60vw;
    }

    .hero__job {
        font-size: 3.4rem;
    }

    .hero__links {
        gap: 1rem;
    }

    /* about */
    .about__container {
        box-shadow: 0 0 2rem rgba(96, 233, 255, 0.27);
    }

    /* resume */
    .resume__item--active::after {
        width: 100%;
    }

    .resume__content {
        font-size: 1.6rem;
    }

    .resume__content-title {
        font-size: 2rem;
    }

    .resume__content-badge {
        width: 7rem;
        height: 2.3rem;
        font-size: 1.2rem;
    }

    /* portfolio */
    .swiper {
        max-height: 70vh;
    }

    /* contactus */
    .contactus__content {
        padding: 2.4rem;
    }

    .contactus__form {
        padding: 0;
    }

    .contactus__input {
        font-size: 1.6rem;
    }
}

@media all and (min-width: 576px) {

    /* hero */
    .hero__img {
        width: 35vw;
        height: 35vw;
        min-width: 33vh;
        min-height: 33vh;
    }

    /* resume */
    .resume__content {
        font-size: 1.6rem;
    }

    .resume__content-title {
        font-size: 2rem;
    }

    .resume__content-badge {
        width: 11rem;
        height: 2.5rem;
    }
}

@media all and (min-width: 768px) {

    /* header */
    .nav__logo {
        font-size: 5rem;
    }

    .menu {
        height: unset;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .nav--minimized {
        padding-top: 0;
    }

    .cover--active::after {
        visibility: hidden;
    }

    .menu__item:not(.menu__item:first-child) {
        margin: 0 0 0 2.4rem;
    }

    .menu__link {
        font-size: 1.3rem;
        transition: var(--linear-transition);
    }

    .nav__hamburger-btn {
        display: none;
    }

    /* hero */
    .hero__img {
        width: 25rem;
        height: 25rem;
    }

    /* services */
    .service {
        max-width: unset;
        width: 100%;
    }

    /* contactus */
    .contactus__wrapper {
        background-position: left;
    }
}

@media all and (min-width: 992px) {
    .btn {
        width: 16rem;
        height: 4.8rem;
        font-size: 1.6rem;
        line-height: 4.8rem;
    }

    /* header */
    .menu__link {
        font-size: 1.7rem;
    }

    /* hero */
    .hero__img {
        width: 55vh;
        height: 55vh;
        margin: 0 0 0 auto;
        border-width: 1.5rem;
    }

    .hero__content {
        text-align: left;
    }

    .hero__name {
        font-size: 3rem;
    }

    .hero__job {
        font-size: 4.5rem;
    }

    .hero__links {
        justify-content: start;
    }

    /* about */
    .about__container {
        flex-direction: row;
        width: calc(100% - 30px);
        margin: 0 auto;
    }

    .about__img-container {
        width: 50%;
        min-height: 59rem;
    }

    .about__content {
        width: 50%;
        padding: 0 2rem 0 3rem;
    }

    /* resume */
    .resume__list {
        height: 55vh;
        margin-bottom: 0;
        margin-right: 2rem;
    }

    .resume .overflow-y-auto {
        height: 55vh;
    }

    .resume__item--active::after {
        width: 100%;
    }

    /* portfolio */
    .swiper-button-prev {
        display: block;
    }

    .swiper-button-next {
        display: block;
    }

    /* footer */
    .footer__wrapper {
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media all and (min-width: 1200px) {
    /* header */
    .nav--minimized {
        height: 8rem;
    }

    /* resume */
    .resume__item--active::after {
        width: 90%;
    }

    /* contactus */
    .contactus__wrapper {
        background-position: center;
    }

    .contactus__content {
        margin: 0 0 0 auto;
        padding: 2.5rem 4rem;
    }

}

@media all and (min-width: 1400px) {
    .container {
        width: 1300px;
    }

    /* services */
    .service__shape {
        bottom: -4rem;
    }
}