@media all and (min-width: 576px) {}

@media all and (min-width: 768px) {

    /* header */
    .menu {
        height: unset;
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .cover--active::after {
        visibility: hidden;
    }

    .menu__item:not(.menu__item:first-child) {
        margin: 0 0 0 2.4rem;
    }

    .menu__link {
        font-size: 1.3rem;
        transition: var(--linear-transition);
    }

    .nav__hamburger-btn {
        display: none;
    }
}

@media all and (min-width: 992px) {}

@media all and (min-width: 1200px) {}

@media all and (min-width: 1400px) {}